#background{ 
    position: relative; 
    width: 1500px;
    z-index: 1; 
    top: -10px; 
    left: -10px; 
    } 

#steak{ 
    position: absolute; 
    z-index: 2; 
    width: 200px;
    top: 0px; 
    left: 580px; 
    } 

#guy{ 
    position: absolute; 
    width: 400px;
    z-index: 3; 
    top: 210px; 
    left: 100px; 
    } 

h1{
    position: absolute; 
    z-index: 4; 
    font-size: 90px;
    color: white;
    top: 250px; 
    left: 600px; 
}

h2{
    position: absolute; 
    z-index: 4; 
    font-size: 30px;
    color: white;
    top: 400px; 
    left: 600px; 
}

button{
    position: absolute; 
    z-index: 4; 
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 4, 4);
    border: none;
    top: 460px; 
    left: 600px; 
}